@charset "utf-8";
/* CSS Document */

@media (min-width:1400px){
.cloud_text {
  padding: 10px 10px 10px 45px;

}
.notification_wrap  li {
  margin: 20px 25px 20px 0;
  padding: 20px;

}
.location_wrap .percircle.small {
  margin-left: 10px;
}
.notification_wrap .list_icon li {
  margin: 0;
  padding: 0;
}
}
@media (min-width:1200px){
	.profile_field_title {width: 200px;}
	.profile_field_des{ width:80%}
	.rtrainee_img{ width:120px;}
	.review_txt{ width:82%}
	.trainer_img{ height:250px}
	.percircle.small{font-size:38px;}
.trainer_bottom span {
  padding-right: 0px;

}
}



@media (min-width:992px) and (max-width:1199px){
	.mp_days { width: 86%;}
	.profile_field_title {width: 180px;}
	.profile_field_des { width: 78%;}
	.rtrainee_img{ width:110px;}
	.review_txt{ width:79%}	
	.trainer_img{ height:230px}
	.notification_wrap li {
     width: 46%;
}
.notification_wrap .list_icon li { width:30px;
}
.notification_wrap li:nth-child(3n) {
  margin-right: 20px;
}
.notification_wrap .list_icon li:nth-child(3n) {
  margin-right: 0px;
}
.slide_text li:nth-child(3n) a {
  width: 300px;
}
.ht_middle {
  width: 40%;
}
.ht_right {
  width: 54%;
}
.session_content .tab-content {
  width: 84%;
}
	}
	
	
	
@media (min-width:768px) and (max-width:991px){
	.mainmenu_nav li a{ padding:0 10px; line-height:50px;}
	.mp_types{ width:90px;}
	.mp_days {width: 85%;}
	.profile_field_title {width: 180px;}
	.profile_field_des { width:70%;}
	.rtrainee_img{ width:100px;}
	.review_txt{ width:75%}	
	.trainer_img{ height:210px}
	.slide_text li:nth-child(3n) a {
  width:189px;
}
.ht_middle {
  width: 38%;
}
.ht_right {
  width: 54%;
}
.ht_right li {
  padding-right: 5px;
}
.ht_right li:first-child {
  width: 175px;
}
.notification_wrap .list_icon li { width:30px;
}
.notification_wrap li:nth-child(3n) {
  margin-right: 10px;
}
.notification_wrap .list_icon li:nth-child(3n) {
  margin-right: 0px;
}
.notification_wrap li {
  margin-right: 10px;
  width: 48%;
}
.customer_report_main {
  padding: 50px 0px;
}
.session_content .tab-content {
  overflow-y: scroll;
  width: 567px;
}
.location_wrap li{border-right:inherit;}
.location_wrap li:last-child {
  border: inherit;
  padding: 0 0 0 7px;
}
.describe_wrap {
  padding: 4px;
}

}
	
@media (min-width:768px){
	.mainmenu_nav li{ display:inline-block; vertical-align:middle;}
	.mainmenu_nav li a{ line-height:60px;}
	.profile_field_title {float: left;text-align: right;}
	.profile_field_des {
	  float: right;
	  padding-right: 10px;
	  border-bottom:1px solid #dddddd;
	  padding-bottom:15px;
	}
	.trainer_profile_wrap li:last-child .profile_field_des{ border-bottom:none;}
	.rtrainee_img {float: left; text-align:center;}
	.review_txt {float: right;}
	.trainer_search{width:70%;} 
	
	}
	
	
	
@media (max-width:767px){
	.trainer_profile_wrap{ padding:10px;}
	.review_txt h4{ padding:5px 0;}
	.trainer_search{width:95%;} 
	.trainer_img{ height:240px}
	.trainer_sec{ max-width:250px; margin:0 auto 10px;}
	.ht_left {
     width: 39px;
}
.slide_text li:nth-child(3n) a {
  width: 290px;
}
.ht_middle {
  width: 85%;
}
.ht_right li:first-child {
  margin: 10px 0;
  width: 100%;
}
.ht_right {
  text-align: center;
  width: 100%;
}
.customer_report_main {
  padding: 50px 0px;
}
.notification_wrap li {
  margin: 10px 10px 10px 0;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  width: 47%;
}
.notification_wrap li:nth-child(3n) {
  margin-right: 10px;
}
.cloud_text {
  display: block;
  font-size: 14px;
  padding: 10px 10px 10px 2px;
  vertical-align: top;
}
.cloud_text > span {
  display: block;
  text-align: center;
}
.notification_wrap .list_icon li {
  min-height: inherit;
  width:30px;
  margin:inherit;
  line-height:20px;

}
.session_content .nav_tabs {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100%;
}
.session_content .tab-content {
  overflow: scroll;
  width: 700px;
}
.meal_paln .session_content{overflow:hidden;}
.session_content .nav_tabs > li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.work_out .nav_tabs li.active::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(250, 82, 36, 0) rgba(250, 82, 36, 0) rgba(250, 82, 36, 0) #fa5224;
  border-image: none;
  border-style: solid;
  border-width: 5px 8px;
  content: " ";
  height: 0;
  left: 0;
  margin-top: -11px;
  pointer-events: none;
  position: absolute;
  top: 110%;
  transform: rotate(208deg);
  width: 0;
}

.message_wrap_content {
  overflow: auto;
  width: 100%;
}
.message_wrap_content .table{ width:700px; max-width:inherit;}
.message_wrap_content_box li:first-child {
  padding: 10px;
}
.resources_tab .nav-tabs > li > a{ font-size:14px; padding:10px 5px;}
.text_resorces > p { padding-right:0px;

}
.text_resorces {
  padding-top: 0;
}
.img_link {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 300px;
}
.graph_list {
  padding: 30px 20px 0;
}
.head_dashboard > h3 {
  font-size: 18px;
}
.head_dashboard p {
  font-size: 15px;
  padding-bottom: 10px;
}
.trainer_wrap_main {
  text-align: center;
}
.trainer_wrap_box {
  display: inline-block;
}
.heading_payment_main h2 {
  font-size: 20px;
}
.describe_wrap {
  text-align: left;
}
}	

@media (max-width:480px){
	.slide_text li:nth-child(3n) a {
  width: 157px;
}
.notification_wrap  li {
  width: 100%;
}
.message_wrap_content_box li:last-child {
  margin: 10px 0;
  width: 100%;
}
.resources_tab .nav-tabs > li {
  display: block;
  width: 100%;
}
	
}